[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pylint = "*"
datetime = "*"
typing = "*"
fastapi = "*"
uvicorn = "*"
psycopg2 = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
